{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>1 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 1 fold-Umbrellas starting at ₹ 807.</strong> </h5></li>


            <img  style="width:auto; height:450px" src="https://n1.sdlcdn.com/imgs/a/0/a/Mohendra-Dutt-Sons-Orange-Pink-SDL474255492-2-0fded.jpg">
            

            <img  style="width:auto; height:450px" src="https://rukminim1.flixcart.com/image/416/416/l2nmnww0/umbrella/1/9/f/single-fold-auto-open-j-shape-handle-umbrellas-checks-design-red-original-imagdy4gz5s6pauf.jpeg?q=70">

        
        <li><h5 class=" my-5"> <strong>Ethinic printed 1 fold-Umbrellas starting at ₹ 1007.</strong> </h5></li>
            
            <img  style="width:auto; height:450px" src="/static/images/1fold/ethinic4.jfif">

            <img  style="width:auto; height:450px" src="/static/images/1fold/fold1_3.jfif">

            <img  style="width:auto; height:450px" src="/static/images/1fold/ethinic1.jfif">




        <li><h5 class=" my-5"> <strong>1-fold Umbrellas in unique prints starting at ₹ 970</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/1fold/1foldvibrant.jfif">

            <img  style="width:auto; height:450px" src="/static/images/1fold/1fold1.jfif">

 

</div>

{% endblock body%}



