{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>2 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 2 fold-Umbrellas starting at ₹ 807.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/2fold/2folddailyuse3.jfif">

            <img  style="width:auto; height:450px" src="/static/images/2fold/2foldimp.jfif">

    
    

        
        <li><h5 class=" my-5"> <strong>Royal Ethinic print 2 fold-Umbrellas starting at ₹ 2,000.</strong> </h5></li>
            
            <img  style="width:auto; height:450px" src="/static/images/2fold/2foldethinic2.jfif">

            <img  style="width:auto; height:450px" src="/static/images/2fold/2foldethinic1.jfif">

            


        <li><h5 class=" my-5"> <strong>Automatic 2-fold Umbrellas  ₹ 1,050.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/2fold/2foldauto1.jfif">

            <img  style="width:auto; height:450px" src="/static/images/2fold/2folddailyuse2.jfif">





</div>

{% endblock body%}



