{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>3 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 3 fold-Umbrellas starting at ₹ 1,007.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="https://cdn.shopify.com/s/files/1/0145/4283/1670/products/fultonumbrella1_540x.jpg?v=1635000325">

            <img  style="width:auto; height:450px" src="https://image.made-in-china.com/202f0j00ychfotNFrKbU/Chinese-Manufacturer-Promotional-3-Folding-Umbrellas-BR-FU-147-.webp">

    

        
        <li><h5 class=" my-5"> <strong>Ethinic print 2 fold-Umbrellas starting at ₹ 2,000.</strong> </h5></li>
            

            <img  style="width:auto; height:450px" src="https://dimg.dillards.com/is/image/DillardsZoom/nav2/vera-bradley-disney-collection-mini-travel-umbrella/00000000_zi_dc32be3f-2581-4b3e-84cd-7e01b4472a67.jpg">

            <img  style="width:auto; height:450px" src="https://cdn.shopify.com/s/files/1/0025/5708/3760/products/O1CN012B6rqen11wJ8l9B__0-item_pic_1024x1024@2x.jpg?v=1606449196">



            


        <li><h5 class=" my-5"> <strong>Automatic 2-fold Umbrellas  ₹ 3,050.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="https://sc04.alicdn.com/kf/H22350722293448ef81372f5375aef4a58.jpg">

            <img  style="width:auto; height:450px" src="https://n4.sdlcdn.com/imgs/k/i/5/KEKEMI-Multi-3-Fold-Umbrella-SDL468460322-1-eaf1c.jpg">






</div>

{% endblock body%}



