{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>3 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 3 fold-Umbrellas starting at ₹ 1,007.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/3fold/3fold2.jfif">

            <img  style="width:auto; height:450px" src="/static/images/3fold/3fold3.jfif">

    

        
        <li><h5 class=" my-5"> <strong>Ethinic print 2 fold-Umbrellas starting at ₹ 2,000.</strong> </h5></li>
            

            <img  style="width:auto; height:450px" src="/static/images/3fold/3fold1.jfif">

            <img  style="width:auto; height:450px" src="/static/images/3fold/3fold4.jfif">



            


        <li><h5 class=" my-5"> <strong>Automatic 2-fold Umbrellas  ₹ 3,050.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/3fold/3foldauto.jfif">

            <img  style="width:auto; height:450px" src="/static/images/3fold/3foldauto2.jfif">






</div>

{% endblock body%}



