{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>4 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 4 fold-Umbrellas starting at ₹ 980.</strong> </h5></li>
            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold1.jfif">
            <img  style="width:auto; height:450px" src="/static/images/4fold/kids1.jfif">
            <img  style="width:auto; height:450px" src="/static/images/4fold/4_fold.jfif">
            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold7.jfif">
            
            



        
        <li><h5 class=" my-5"> <strong>Cute printed 4 fold-Umbrellas starting at ₹ 2,500.</strong> </h5></li>
            
            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold2.jfif">

            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold3.jfif">




        <li><h5 class=" my-5"> <strong>4-fold Umbrellas in unique transparent prints starting at ₹ 3,570</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold5.jfif">
            <img  style="width:auto; height:450px" src="/static/images/4fold/4fold6.jfif">








      

</div>

{% endblock body%}



