{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>5 fold Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>Daily use 5 fold-Umbrellas starting at ₹ 1,980.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold7.jfif">
            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold6.jfif">
            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold8.jfif">
            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold2.jfif">
            
            
        
        
        <li><h5 class=" my-5"> <strong>Cute printed 5 fold-Umbrellas starting at ₹ 3,700.</strong> </h5></li>
            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold4.jfif">
            <img  style="width:auto; height:450px" src="/static/images/5fold/5fold5.jfif">



        <li><h5 class=" my-5"> <strong>5-fold Umbrellas in unique transparent prints and extra small travel sizes starting at ₹ 5,570</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/5fold/5_fold.jfif">
            <img  style="width:auto; height:450px" src="/static/images/5fold/5foldsmall1.jfif">


      

</div>

{% endblock body%}



