{% extends 'base.html' %}

{% block title %} About Us {% endblock title%}

{% block body %}


<div class="container-fluid px-0 mb-3">
    <img src="/static/images/about_page/52.jfif" class="d-block w-100" alt="...">
</div>
    

<div class="container-fluid mb-3 py-3">
    <h2 class ="text-center">About Us</h2>
    <p class = "text-center">We provide quality products since 2000</p>
    <p class = "text-center">Select from wide range of umbrellas ranging from daily use to Garden-Umbrellas for Resorts.</p>
    <p class = "text-center">We supply various parts of umbrellas across the country.</p>
  </div>
  

  <h2 class= "text-center">Our clients</h2>
  <div class="row mx-3 py-4">
    <div class="column mx-5 py-2">
      <div class="card shadow p-2 mb-4 bg-body rounded">
        
        <img src="/static/images/about_page/60.jfif" alt="Jane" style="width:100%">
        <div class="container">
          <h2 class = "text-center">Joseph Thayyil</h2>
          <p class="title">Owner</p>
          <p>Trusted partners since the begining of our journey.. </p>
          <p>esales@johns.in</p>
          
        </div>
      </div>
    </div>
  
    <div class="column mx-2 py-2">
      <div class="card shadow p-2 mb-4 bg-body rounded">
        <img src="/static/images/about_page/61.jfif" alt="Mike" style="width:100%">
        <div class="container">
          <h2 class = "text-center"> Davis Thayyil</h2>
          <p class="title">Owner</p>
          <p>Trusted partners since the begining of our journey.. </p>
          <p>info@popy.in</p>
          
        </div>
      </div>
    </div>
  
    <div class="column mx-5 py-2">
      <div class="card shadow p-2 mb-4 bg-body rounded">
        <img src="/static/images/about_page/62.jfif"  alt="John" style="width:100%">
        <div class="container">
          <h2 class = "text-center">Jayesh Chopra</h2>
          <p class="title">Owner</p>
          <p>Trusted partners since the begining of our journey.. </p>
          <p>sagarsons90@hotmail.com</p>
          
        </div>
      </div>
    </div>
  </div>






{% endblock body%}
