{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}


{% block body %}

<div class="container-fluid my-3">

   

    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

    <img style="width:auto; height:450px" class="center" src="/static/images/error.jfif" >

</body>
</html>


<h2 class=" my-5 text-center "> <strong>OOPS! NOT A VALID KEYWORD!!</strong> </h2>


<h2> Try seraching the following terms</h2>
<ul>
  <li>Umbrellas available</li>
  <li>1 fold umbrellas</li>
  <li>2 fold umbrellas</li>
  <li>3 fold umbrellas</li>
  <li>4 fold umbrellas</li>
  <li>5 fold umbrellas</li>
  <li>Kids umbrellas</li>
  <li>daily use umbrellas</li>
  <li>Garden umbrellas</li>
  <li>Resort umbrellas</li>

  

</ul>  

</div>

{% endblock body%}
