{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>Kids Umbrellas available in variety prints</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>1 fold kids umbrella starting at ₹ 607.</strong> </h5></li>


            <img  style="width:auto; height:450px" src="/static/images/kids/kids6.jfif">
            

            <img  style="width:auto; height:450px" src="/static/images/kids/kids8.jfif">


        <li><h5 class=" my-5"> <strong>2 fold kids umbrella starting at ₹ 890.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/kids/kids2fold1.jfif">

            
            <img  style="width:auto; height:450px" src="/static/images/kids/kids2fold2.jfif.">



        <li><h5 class=" my-5"> <strong>3 fold kids umbrella starting at ₹ 1007.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/kids/kids11.jfif">


            <img  style="width:auto; height:450px" src="/static/images/kids/kids10.jfif">



        <li><h5 class=" my-5"> <strong>4 fold kids umbrella starting at ₹ 1607.</strong> </h5></li>
        
            <img  style="width:auto; height:450px" src="/static/images/kids/dailyuse2.jfif">

            <img  style="width:auto; height:450px" src="/static/images/kids/kids4fold2.jfif">



        <li><h5 class=" my-5"> <strong>5 fold kids umbrella starting at ₹ 2507.</strong> </h5></li>

            <img  style="width:auto; height:450px" src="/static/images/kids/kids5fold2.jfif">

            <img  style="width:auto; height:450px" src="/static/images/kids/kids5fold3.jfif">

    </ul>


      

</div>

{% endblock body%}



