{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>The Umbrellas available in following Ranges</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>1 fold umbrellas in the price range of ₹ 300 to ₹ 500.</strong> </h5></li>


        <img  style="width:auto; height:450px" src="https://litb-cgis.rightinthebox.com/images/640x640/202203/bps/product/inc/zfmrlg1647414324454.jpg?fmt=webp&v=1">

        <img  style="width:auto; height:450px" src="https://i5.walmartimages.com/asr/013038f2-d7ea-4466-a3bf-49f7671432e7_1.316e0276cfdabf50c0185f1ffc6bd1bf.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff">


        <li><h5 class=" my-5"> <strong>2 fold umbrellas in the price range of ₹ 600 to ₹1,500.</strong> </h5></li>

        
        <img  style="width:auto; height:450px" src="https://m.media-amazon.com/images/I/71iE9IZpPEL._UX679_.jpg">

        <img  style="width:auto; height:350px" src="https://img.fruugo.com/product/3/89/215422893_max.jpg">

        <li><h5 class=" my-5"> <strong>3 fold umbrellas in the price range of ₹ 700 to ₹1,800.</strong> </h5></li>


        <img  style="width:auto; height:450px" src="https://www.noixdarec.com/129679-large_default/happy-rain-earth-folding-umbrella-super-mini-manual-flower-leaves.jpg">">

        <img  style="width:auto; height:450px" src="https://www.noixdarec.com/129687-large_default/pierre-cardin-folding-umbrella-easymatic-slimline-provence-frost-gray.jpg">


        <li><h5 class=" my-5"> <strong>4 fold umbrellas in the price range of ₹ 1,500 to ₹2,000.</strong> </h5></li>

        <img  style="width:auto; height:450px" src="https://m.media-amazon.com/images/I/615utscR0xL._AC_SX679_.jpg">

        <li><h5 class=" my-5"> <strong>5 fold umbrellas in the price range of ₹ 2,500 to ₹3,570.</strong> </h5></li>

        <img  style="width:auto; height:350px" src="https://m.media-amazon.com/images/I/61GfUOtlkhL._AC_SX679_.jpg">

        <img  style="width:auto; height:350px" src="https://m.media-amazon.com/images/I/51GbADcvTvL._AC_SX522_.jpg">

    </ul>


      

</div>

{% endblock body%}



