{% extends 'base.html' %}

{% block title %} Krishna Industries {% endblock title%}

{% block body %}


<div class="container my-3">


    <h2 class=" my-5 text-center"> <strong>The Umbrellas available in following Ranges</strong> </h2>

    <ul>

        <li><h5 class=" my-5"> <strong>1 fold umbrellas in the price range of ₹ 300 to ₹ 500.</strong> </h5></li>

        <!DOCTYPE html>
        <html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        </head>
        <body>
        
            <img  style="width:auto; height:450px" src="/static/images/umbrella/2_fold.jfif">


        </body>
        </html>
    
        <img  style="width:auto; height:450px" src="/static/images/umbrella/1_fold.jfif">

        <li><h5 class=" my-5"> <strong>2 fold umbrellas in the price range of ₹ 600 to ₹1,500.</strong> </h5></li>

        <img  style="width:auto; height:450px" src="/static/images/umbrella/two_fold.jfif">

        <li><h5 class=" my-5"> <strong>3 fold umbrellas in the price range of ₹ 700 to ₹1,800.</strong> </h5></li>

        <img  style="width:auto; height:450px" src="/static/images/umbrella/3_fold.jfif">

        <li><h5 class=" my-5"> <strong>4 fold umbrellas in the price range of ₹ 1,500 to ₹2,000.</strong> </h5></li>

        <img  style="width:auto; height:450px" src="/static/images/umbrella/4_fold.jfif">

        <li><h5 class=" my-5"> <strong>5 fold umbrellas in the price range of ₹ 2,500 to ₹3,570.</strong> </h5></li>

        <img  style="width:auto; height:450px" src="/static/images/umbrella/5_fold.jfif">

        <img  style="width:auto; height:450px" src="/static/images/umbrella/5_fold2.jfif">

    </ul>


      

</div>

{% endblock body%}



