{% extends 'base.html' %}

{% block title %} Resort Umbrellas{% endblock title%}

{% block body %} 

<div class="container-fluid px-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.traveltek.net/uploaded/2018/11/1541437828_mixedbannerupdate2019.jpg" class="d-block w-100" alt="...">
          </div>
 
        </div>
        
      </div>

      <div class="album py-5 bg-light">
        <div class="container ">
        <h1 class="my-2 text-center">Best designs available suitable for every environment conditions. </h1>

              
        <div class="row my-4">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://4.imimg.com/data4/VE/TD/MY-1137305/side-pool-500x500.jpg" class="d-block w-100" alt="...">
              
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 11,078 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://5.imimg.com/data5/JV/WI/MY-5764748/resort-umbrella-500x500.jpg" class="d-block w-100" alt="...">
              
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 19,050 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://ng.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/44/909848/7.jpg?3274" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 20,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://sc04.alicdn.com/kf/Hd7e1c5f457c04cc6a2fb798dbc51f1f4n.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 22,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://5.imimg.com/data5/SELLER/Default/2020/12/KC/CG/WW/36480335/um-1-500x500.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 17,504 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.rollingstone.com/wp-content/uploads/2021/06/81HEFtx2IAL._AC_SL1500_.jpg?w=1024" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 16,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          
          
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.etonline.com/sites/default/files/images/2022-05/Wikiwiki%20Solar%20Patio%20Umbrella%20with%20Lights.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 11,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
          
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://meekoutlet.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBKzFiQ2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d1089e50cb002a7b4dd91b7595e09693a9467f43/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a05d8d9b92030ca3afbbd61efce4c4c3bacc929c/81hKwUaeMWL.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 12,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://gardenerspath.com/wp-content/uploads/2021/02/Ianthe-132-inch-Square-Cantilever-Umbrella.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 15,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
              
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


</div>

{% endblock body%}
