{% extends 'base.html' %}

{% block title %} Garden Umbrellas {% endblock title%}

{% block body %} 

<div class="container-fluid px-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/service2/77.jfif" class="d-block w-100" alt="...">
          </div>
 
        </div>
        
      </div>

      <div class="album py-5 bg-light">
        <div class="container ">
        <h1 class="my-2 text-center">Best garden umbrealls with assured quality</h1>
      
        <h3 class="my-2 text-center my-4">Build according to the need of user in Variety of designs and colours</h3>
        
        
            <div class="row my-4">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/d7.jfif" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 11,809 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden1.jfif" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 18,050 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden2.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 19,809 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden3.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 11,050 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden11.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 15,600 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden9.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 10,080 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              
              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/r13.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 16,700 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
              
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden7.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 16,540 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service2/garden15.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 18,090 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                  
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        


        
</div> 


{% endblock body%}
