{% extends 'base.html' %}

{% block title %} Daily Use Umbrellas{% endblock title%}

{% block body %} 

<div class="container-fluid px-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.shopify.com/s/files/1/0002/2298/6299/files/1920-x-560-kids.jpg?v=1589986994" class="d-block w-100" alt="...">
          </div>
 
        </div>
        
      </div>


        <div class="album py-5 bg-light">
          <div class="container">
            <h1 class="my-2 text-center">Best prints available in daily use Umbrellas </h1>

            <h3 class="text-center my-4">Variety prints available for kids </h3>


            <div class="row my-4">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://cdn.shopify.com/s/files/1/0245/2737/products/IMG_6922_grande.jpg?v=1606454190" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://cdn.shopify.com/s/files/1/0245/2737/products/IMG_6416_grande.jpg?v=1606455916" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://cdn.shopify.com/s/files/1/0245/2737/products/AVG-1_grande.jpg?v=1656914193" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://cdn.shopify.com/s/files/1/0383/1395/1369/products/7OLYE3_5_1_5000x.jpg?v=1634811939" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://5.imimg.com/data5/SELLER/Default/2022/3/RZ/JY/MF/26954735/automatic-3-fold-umbrella-500x500-500x500.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://i5.walmartimages.com/asr/2110368a-91e4-4c8b-83e4-86160d782756.3e2b45e54913adb59877ac816827ac25.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>




              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://m.media-amazon.com/images/I/811d-YggjHL._SX522_.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://sc04.alicdn.com/kf/H48402943730745b19f9983afb66e3216N.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://i5.walmartimages.com/asr/bc280c21-6dbe-4abc-9ea3-1f7d0e0f85f4.671c78cbd3927a137199c212754371e0.jpeg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              


              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://www.bigbasket.com/media/uploads/p/l/40129618_7-daily-luck-three-fold-flower-printed-premium-umbrella-auto-open-close-pastel-blue.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://stylesatlife.com/wp-content/uploads/2018/04/Fresh-floral-small-foldable-umbrella.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="https://images-static.nykaa.com/media/catalog/product/e/2/e2f1a758904330701373_3.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img  src="https://cdn.shopify.com/s/files/1/0245/2737/products/8904330707337-2.jpg?v=1657110106" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
              
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img  src="https://imgprd19.hobbylobby.com/1/6b/71/16b71c785737b5e0d272b93335957cf41d273b11/350Wx350H-5445820-0322-PX.jpg" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                       
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img  src="https://cdn.shopify.com/s/files/1/0245/2737/products/8904330707283-2.jpg?v=1657109808" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                  
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
 
                        
</div>

{% endblock body%}
