{% extends 'base.html' %}

{% block title %} Resort Umbrellas{% endblock title%}

{% block body %} 

<div class="container-fluid px-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/service3/79.jfif" class="d-block w-100" alt="...">
          </div>
 
        </div>
        
      </div>

      <div class="album py-5 bg-light">
        <div class="container ">
        <h1 class="my-2 text-center">Best designs available suitable for every environment conditions. </h1>

              
        <div class="row my-4">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r15.jfif" class="d-block w-100" alt="...">
              
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 11,078 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r3.jfif" class="d-block w-100" alt="...">
              
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 19,050 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r6.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 20,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/garden16.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 22,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r7.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 17,504 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r10.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 16,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          
          
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r11.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 11,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
          
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r12.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 12,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/static/images/service3/r14.jfif" class="d-block w-100" alt="...">
              <div class="card-body">
                <p class="card-text text-center"> <strong> Starting at ₹ 15,809 </strong></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
              
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


</div>

{% endblock body%}
