{% extends 'base.html' %}

{% block title %} Daily Use Umbrellas{% endblock title%}

{% block body %} 

<div class="container-fluid px-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/service1/26.jfif" class="d-block w-100" alt="...">
          </div>
 
        </div>
        
      </div>


        <div class="album py-5 bg-light">
          <div class="container">
            <h1 class="my-2 text-center">Best prints available in daily use Umbrellas </h1>

            <h3 class="text-center my-4">Variety prints available for kids </h3>


            <div class="row my-4">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/d1.jfif" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/d2.jfif" class="d-block w-100" alt="...">
                  
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/d3.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse3.jpg" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse2.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>




              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse6.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse15.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse14.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              


              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse9.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse13.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="/static/images/service1/dailyuse12.jfif" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Starting at ₹ 607 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img style="width:auto; height:450px" src="/static/images/service1/21.jfif" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
              
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img style="width:auto; height:450px" src="/static/images/service1/dailyuse10.jfif" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                       
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img style="width:auto; height:450px" src="/static/images/service1/20.jfif" >
                  <div class="card-body">
                    <p class="card-text text-center"> <strong> Ethinic Printed Umbrellas Starting at      ₹980 </strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                  
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
 
                        
</div>

{% endblock body%}
